<form action='/links' method='post'>
  Title: <input type='text' name='title'/>
  url:   <input type='text' name='url'/>
  tags:  <input type='text' name='tags'/>
  <input type='submit' value='Add link'>
</form>
